<configuration>

    <!-- EVITA DI LOGGARE LOG DI DEFAULTI INFERIORI A  ERROR  (WARNING TIPO) -->
    <!--<logger name="org.springframework.web" level="ERROR"/>-->


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}  %highlight(%-5level) %cyan(className:) %X{className} - %cyan(method:) %X{method} - %cyan(endPoint:) %X{endPoint} - %cyan(msg:) %msg - %cyan(userId:) %X{userId}%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>